## setup https://github.com/mlhartme/setenv

if [ -z "${SETENV_BASE}" ] ; then
    if [ -n "${ZSH_VERSION}" ] ; then
      # see https://unix.stackexchange.com/questions/94129/is-there-something-like-closures-for-zsh

      export SETENV_BASE=/tmp/setenv-$$
      stool_precmd() {
        # wrap in eval to avoid bash syntax error
        eval "files=(${SETENV_BASE}-*(N))"
        for file in ${files}; do
          . ${file}
          rm ${file}
        done
      }
      autoload -Uz add-zsh-hook
      add-zsh-hook precmd stool_precmd
    elif [ -n "${BASH_VERSION}" ] ; then
      export SETENV_BASE=/tmp/setenv-$$
      export SETENV_OLD_PROMPT_COMMAND=$PROMPT_COMMAND

      doSetenv() {
        eval "$SETENV_OLD_PROMPT_COMMAND"
        for file in ${SETENV_BASE}-*; do
            if [ -f "${file}" ] ; then
                . ${file}
                rm ${file}
            fi
        done
      }
      PROMPT_COMMAND=doSetenv
    else
      echo "unknown shell"
      exit
    fi

# else
#   already initialized, nothing to do
fi
